<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="IFace_port" value="4370" />
		<add key="IFace_IP" value="172.16.0.5" />
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="Server=172.16.3.60;Database=test;Uid=root;Pwd='bxn500';SslMode=None;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>