<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="IFaceDevices" value="172.16.15.66:4371;172.16.15.66:4372;172.16.0.5:4370"/>
	</appSettings>
	<connectionStrings>
		<add name="mysql" connectionString="Server=172.16.3.60;Database=test;Uid=root;Pwd='bxn500';SslMode=None;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
